In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("../data/raw/roulette.csv")

df.head()

,Round,Winning Number,Winning Color,Red Bet Win,Black Bet Win,Even Bet Win,Odd Bet Win,Zero Bet Win
0,1,22,Black,0,1,1,0,0
1,2,8,Black,0,1,1,0,0
2,3,33,Black,0,1,0,1,0
3,4,2,Black,0,1,1,0,0
4,5,24,Black,0,1,1,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Round           100000 non-null  int64
 1   Winning Number  100000 non-null  int64
 2   Winning Color   100000 non-null  object
 3   Red Bet Win     100000 non-null  int64
 4   Black Bet Win   100000 non-null  int64
 5   Even Bet Win    100000 non-null  int64
 6   Odd Bet Win     100000 non-null  int64
 7   Zero Bet Win    100000 non-null  int64
dtypes: int64(7), object(1)
memory usage: 6.1+ MB

In [5]:
df.describe()

,Round,Winning Number,Red Bet Win,Black Bet Win,Even Bet Win,Odd Bet Win,Zero Bet Win
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,18.028730,0.486660,0.486300,0.484850,0.488110,0.027040
std,28867.657797,10.676308,0.499825,0.499815,0.499773,0.499861,0.162201
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25000.750000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,50000.500000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,75000.250000,27.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,100000.000000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000